
/*instagram colors: #ffffff #fafafa #dbdbdb*/

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#header{
    background-color: #ffffff;
    height: 7%;
    width: 100%;
    border-bottom-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box{
    background-color: hotpink;
    flex-grow: 0.5;
}

/*  <div id = 'header'>
        <h1>InstaFluxo</h1>
        <form action="pesquisa" id="form_pesquisa">
            <input type="text" id="caixa_pesquisa">
        </form>
        <div id= 'user_actions_container'>
            
        </div>

    </div>
*/

#form_pesquisa{
    background-color: red;
    flex-grow: 3;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#caixa_pesquisa{
    background-color: #fafafa;
    align-self: center;
    border-bottom-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    height: 50%;
}

#user_actions_container{
    background-color: green;
    flex-grow: 3;
}

h1 {
    flex-grow: 1;
    align-self: center;
    background-color: blue;
}

#bg{
    height: 50%;
    background-color: #fafafa;
}

header{
    display: flex;
    flex-direction: row;
}