
/*instagram colors: #ffffff #fafafa #dbdbdb*/

*{
    margin: 0px;
    padding: 0px;
    border:none;
}

.user_action_icon{
    height: 100%;
    align-self: center;
    margin-left: 20px;
}

#avatar {
    height: 100%;
    align-self: center;
}

.avatar_cropper{
    height: 30px;
    width: 30px;
    align-self: center;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-left: 20px;
}

html, body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#header{
    background-color: #ffffff;
    height: 7%;
    width: 100%;
    border-bottom-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box{
    flex-grow: 3;
}

/*  <div id = 'header'>
        <h1>InstaFluxo</h1>
        <form action="pesquisa" id="form_pesquisa">
            <input type="text" id="caixa_pesquisa">
        </form>
        <div id= 'user_actions_container'>
            
        </div>

    </div>
*/

#form_pesquisa{
    /* background-color: blue; */
    flex-grow: 3;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#caixa_pesquisa{
    background-color: #fafafa;
    align-self: center;
    text-align: center;
    border: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    height: 40%;
    width: 75%;
}

#user_actions_container{
    /* background-color: red; */
    flex-grow: 3;
    align-self: center;
    height: 40%;
    display: flex;
    width: 20%;
    justify-content: center;
}

#instaLogo{
    height: 50%;
    align-self: center;
}

#logo_container{
    align-self: center;
    height: 100%;
    width: 300px;
    flex-grow: 3;
    display: flex;
    /* background-color: red; */
}

#bg{
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.post{
    height: 80%;
    width: 50%;
    align-self: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
}

header{
    display: flex;
    flex-direction: row;
}

input.placeholder{
    text-align: center;
}

