
/*instagram colors: #ffffff #fafafa #dbdbdb*/

*{
    margin: 0px;
    padding: 0px;
    border:none;
}

.user_action_icon{
    height: 100%;
    align-self: center;
    margin-left: 17px;
}

#avatar {
    height: 100%;
    align-self: center;
}

.avatar_cropper{
    height: 30px;
    width: 30px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-left: 20px;
}

html, body{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
}

#header{
    background-color: #ffffff;
    height: 7%;
    width: 100%;
    border-bottom-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.box{
    flex-grow: 3;
}

/*  <div id = 'header'>
        <h1>InstaFluxo</h1>
        <form action="pesquisa" id="form_pesquisa">
            <input type="text" id="caixa_pesquisa">
        </form>
        <div id= 'user_actions_container'>
            
        </div>

    </div>
*/

#form_pesquisa{
    /* background-color: blue; */
    flex-grow: 3;
    height: 100%;
    align-self: center;
    display: flex;
    justify-content: center;
}

#caixa_pesquisa{
    background-color: #fafafa;
    align-self: center;
    text-align: center;
    border: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    height: 40%;
    width: 75%;
}

#user_actions_container{
    /* background-color: red; */
    flex-grow: 3;
    align-self: center;
    height: 40%;
    display: flex;
    width: 20%;
    justify-content: center;
}

#instaLogo{
    height: 50%;
    align-self: center;
}

#logo_container{
    align-self: center;
    height: 100%;
    width: 300px;
    flex-grow: 3;
    display: flex;
    /* background-color: red; */
}

#bg{
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #fafafa;
}

.post{
    height: 80%;
    width: 60%;
    align-self: center;
    background-color: #ffffff;
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.post_container{
    height: 100%;
    width: 100%;
}

.post_header{
    height: 11%;
    border-style: solid;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color:#dbdbdb;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.post_user {
    height: 35px;
    width: 35px;
    align-self: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-left: 10px;
    border-style: solid;
    border-color: #FCAF45;
}

.post_user_avatar{
    height: 100%;
}

.post_user_name{
    align-self: center;
    margin-left: 12px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.post_caption{
    padding-top: 20px;
    height: 60%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.caption_container_left{
    width: 20%;
    height: 100%;
}
.caption_container_right{
    padding: 3px;
    padding-top: 9px;
    padding-left: 13px;
    /* width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: first baseline; */
}

.post_footer{
    height: 18%;
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 0px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color:#dbdbdb;
}

.save_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.save_action{
    align-self: flex-start;
    margin-right: 5px;
    width: 23%;
}

.post_action{
    align-self: flex-start;
    margin-left: 17px;
    margin-top: 10px;
    width: 7%;
}

.caption_user_name{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.caption_texto{
    font-family: Helvetica, sans-serif;
}

.comentar{
    height: 7.1%;
    display: flex;
}

.publicar_btn{
    flex-grow: 1;
    margin-left: 40px;
    font-size: 12px;
    align-self: center;
    color: #99d1ff;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.cmnt_plcholder{
    font-size: 15px;
    flex-grow: 1;
    margin-left: 15px;
    align-self: center;
    color: #a6a6a6;
    font-family: Helvetica, sans-serif;
}

.content {
    height: 100%;
}

header{
    display: flex;
    flex-direction: row;
}

input.placeholder{
    text-align: center;
}

